

.u_numbs{
    width: 5rem;
    height: 5rem;
    position:absolute;
}

.u-space{
    padding: 2rem;
    border: 2px solid black;
    margin-bottom: 2rem;
}

.u-active{
    animation: borderBlink 4s infinite;
    transition: all .2s;
}

.right{
    background-image: url("../../images/img1right.png");
}
.hide{
    display:none;
}